/* -------------------- content -------------------- */
.content {
    position                  : relative;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1024px) {
    .content {
        margin-right : auto;
        margin-left  : auto;
        width        : 670px;
    }
}
