.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.test-input-001{
  font-size: large;
  color: red;
  background-color: #61dafb;
  padding: 0.3em;
}

.test-check-001{
  text-align: left;
  background-color: gray;
}

.test-select-001{
  width: 100px;
  height: 30px;
  font-size: 20px;
  background: white;
}
.test-item-box{
  height: 40px;
  font-size: 30px;
  background: green;
  position: relative;
}

.test-item-111{
  width: 100px;
  height: 200px;
  font-size: 30px;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
}

.test-list-wrapper{
  width: 100%;
}

.test-list-box{
  width: 100%;
  border: 1px solid #DDD;
  margin-top: 15px;
}

.test-jquery-page{
  padding: 5px;
  display: flex;
  justify-content: center;
}
