.App {
    text-align: center;
    max-width: 600px;
    min-width: 400px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


button {
    padding: 10px 20px;
}

.place-bar {
    height: 20px;
}

#canvas-template-001 {
    /* position: fixed;
    top: -10px; */
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 422px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /* transform: scale(.5); */
}

.img-text-item {
    width: 210px;
    height: 250px;
    padding: 5px;
    box-sizing: border-box;
    color: green;
    font-size: 20px;
}

.flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}
